label{
	text-align: right;
	margin-right: 15px;
	width: 100px;
	font-size: 20px;
}
li{
	padding: 10px 20px;
	margin:15px;

}
li.c5{
	background: blue;
}
li.c4{
	background: purple;
}
li.c3{
	background: gray;	
}
li.c2{
	background: green;
}
li.c1{
	background: red;
}